<header>
  <img src="	https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="">
  <h1>WELLCOME TO POKEMON APP</h1>
</header>
<nav>
  <div class="nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="">Trang chủ</a></li>
        <li class="nav-item"><a href="">Danh mục</a></li>
        <li class="nav-item"><a href="">Giới thiệu</a></li>
        <li class="nav-item"><a href="">Tải ứng dụng</a></li>
        <li class="nav-item"><a href="">Liên hệ</a></li>
    </ul>
    <ul class="nav-list">
        <li><div class="input-group">
          <div class="form-outline">
            <input id="search-focus" type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
          </div>
          <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div></li>
    </ul>
</div>
</nav>
