<!-- <h1>Wellcome to {{name}}</h1>

<p>{{ user.name}} {{user.lastName}}</p>

<input type="text" [value]="user.name">
<button type="button" (click)=handler()>Click Me</button>
<br><br>

<input type="text" [ngModel]="user.name" (ngModelChange) = "user.name = $event "/>
<br><br>
<hello *ngIf="user.age >=18; else under18" [name]="user.name"></hello>
<ng-template #under18>
  <div>
    Bạn chưa đủ tuổi để xem nội dung này🔞<br>
  </div>
</ng-template>

<button (click)="user.age = user.age -1">-</button>
Age:{{user.age}}
<button (click)="user.age = user.age +1">+</button> -->
<app-header></app-header>
<app-list-pokemons></app-list-pokemons>
<app-main></app-main>

